<a href=<%="/route?id="+@route%>>Back</a><br/>
Predictions for <%= @stop_name %><br/><br/>
<%=if @directions.empty? then "No predictions" end %>
<% @directions.keys.each do |direction|  %>
  <b><%= direction %></b><br/>
  <% @predictions_table[direction].each do |prediction| %>
    <%= prediction %> </br>
  <% end %>
  <br/>
<% end %>
